.h-10 {
  width: 12rem;
  height: 10rem;
  border-radius: 0rem;
}

h1 {
  color: #e6eef8;
  font-size: 1.3rem;
  font-weight: italic bold;
  font-style: oblique;
  font-family:'Courier New', Courier, monospace;
  margin-right: 0.5em;
}

@media screen and(max-width: 768px){
  .h-10 {
    width: 8rem;
    height: 8rem;
  }
  
}