@keyframes scan {
  0% {
    top: 25%;
  }
  100% {
    top: 75%;
  }
}

.animate-scan-line {
  animation: scan 2s linear infinite alternate;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-out forwards;
}
